.App {
  text-align: center;
}

.App-drawer {
  width: 100% !important;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@media screen and (min-width: 960px) {
  .App-drawer {
    width: 300px !important;
  }
  .App-header {
    margin-left: 300px;
  }
  main.App-content {
    margin-left: 300px;
  }
}